@import '../../themes/globals';

:host {
  --color: var(--yh-color-base);
  --font-color-main: #333333;
  --font-color-white: #ffffff;
  --font-color-weak: #999999;
  --font-color-light: #cccccc;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  .input-native {
    display: inline-block;
    flex: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 1.5em;
    max-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--font-color-main);
    font-size: 17px;
    line-height: 1.5;
    background: transparent;
    border: 0;
    outline: none;
    appearance: none;

    &::placeholder {
      color: var(--font-color-light);
      font-family: inherit;
    }

    &:-webkit-autofill {
      background-color: transparent;
    }

    &:disabled {
      color: var(--font-color-weak);
      cursor: not-allowed;
      opacity: 1;
      -webkit-text-fill-color: var(--font-color-weak);
    }

    &:read-only {
      cursor: default;
    }

    &:invalid {
      box-shadow: none;
    }

    &::-ms-clear {
      display: none;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::-webkit-search-decoration {
      display: none;
    }

    // for ios
    &[type='date'],
    &[type='time'],
    &[type='datetime-local'] {
      min-height: 1.5em;
    }

    // for safari
    &[type='search'] {
      -webkit-appearance: none;
    }

    &[readonly] {
      pointer-events: none;
    }
  }

  .input-clear-icon {
    flex: none;
    // appearance: none;
    width: 30px;
    height: 30px;
    // fill 控制颜色，属性设置 color
    // color: var(--color-light);
    padding: 3px;
    visibility: hidden;
    cursor: pointer;

    &:focus {
      opacity: 0.5;
    }
  }
}

// Clear Input Icon
// --------------------------------------------------
:host(.has-value) .input-clear-icon {
  visibility: visible;
}
