:host {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  align-items: stretch;
  column-gap: var(--horizontal-gap);
  row-gap: var(--vertical-gap);
}
